<div class="container" ng-app="ClassroomCenter">
  <h1>Classrooms</h1>

  <div ng-controller="classroomsController">
    <div class="well">
      <h3>Create Registration</h3>
      <form ng-submit="addClassroom()">
        <div class="row">
          <div class="col-xs-6">
            <select ng-model="newClassroom.student"
                    ng-options="student as student.name for student in students"
                    class="form-control">
            </select>
          </div>
          <div class="col-xs-6">
            <select ng-model="newClassroom.course"
                    ng-options="course as course.name for course in courses"
                    class="form-control">
            </select>
          </div>
        </div>
        <div class="row">
          <br/>
          <div class="col-xs-12 text-center">
            <br/>
            <input type="submit" value="Add Classroom" class="btn btn-primary" />
          </div>
        </div>
      </form>
    </div>

  </div>

  <h3>Currently Visiting</h3>
  <hr />
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Student Name</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-show="!classrooms.length">
        <td colspan="4">No classrooms.</td>
      </tr>
      <tr ng-repeat="classroom in classrooms">
        <td>{{ classroom.course.name }}</td>
        <td>{{ classroom.student.name }}</td>
        <td><a class="btn btn-danger" ng-click="deleteClassroom($index)">Remove</a></td>
      </tr>
    </tbody>
  </table>

  <script type="text/javascript" charset="utf-8">
//    var students  = <%= @students.to_json.html_safe %>;
//    var courses   = <%= @courses.to_json.html_safe %>;
  </script>

</div>
