<div class="container" ng-app="ClassroomCenter">
  <h1>Classrooms</h1>

  <div ng-controller="classroomsController">
    <div class="well">
      <h3>Create Registration</h3>

    </div>

  </div>

</div>
